<!DOCTYPE html>
<html ng-app="EPGViewer">
    <head>
        <title>EPG Viewer</title>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        <script src="http://code.angularjs.org/1.2.15/angular-route.js"></script>
        <script src="http://code.angularjs.org/1.2.15/angular-resource.js"></script>
        <script src="services/services.js"></script>
        <script src="controllers/controllers.js"></script>

        <link href="templates/css/show_epg.css" rel="stylesheet" type="text/css" />
        <link href="templates/css/index.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine" />
    </head>
    <body>
        <h1>EPG Viewer</h1>
        <div id="main" ng-view></div>
        <div id="navigator" ng-controller="Navigator">
            <form>
                <table>
                    <tr>
                        <td></td>
                        <td><button id="btn-up" ng-click="navigate(KEY_CODE.UP)" value="up">▲</button></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><button id="btn-left" ng-click="navigate(KEY_CODE.LEFT)" value="left">◀</button></td>
                        <td><button id="btn-ok" ng-click="navigate(KEY_CODE.OK)" value="ok">●</button></td>
                        <td><button id="btn-right" ng-click="navigate(KEY_CODE.RIGHT)" value="right">▶</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="btn-down" ng-click="navigate(KEY_CODE.DOWN)" value="down">▼</button></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
