#EPG {
    width: 1800px;
}

#services {
    float: left;
}

#services > .service {
    height: 100px;
}

#events {
    float: right;

    margin-left: 10px;
}

#events > .service {
    position: relative;

    height: 102px;
}

.event {
    position: absolute;
    overflow: hidden;
    padding-left: 5px;

    width: 250px;
    height: 100px;
    border: 1px solid #000000;
}

.service > .name {
    float: left;

    width: 200px;
    height: 100px;
    border: 1px solid #000000;

    text-align: center;
}

.event > .name {
    margin-top: 30px;
}

#labels {
    width: 1800px;
    height: 42px;
}

#now_date {
    float: left;

    width: 200px;
    height: 30px;

    border: 1px solid #000000;
}

#hours {
    float: right;
}

.label {
    display: inline-block;

    width: 198px;
    height: 30px;

    border: 1px solid #000000;
}
