.service {
    display: block;
    margin-top: 10px;

    width: 100000px;
    height: 100px;
}

.service > .name {
    float: left;

    width: 200px;
    height: 100px;
    border: 1px solid #000000;

    text-align: center;
}

.event {
    float: left;
    position: absolute;
    overflow: hidden;
    padding-left: 5px;

    width: 250px;
    height: 100px;
    border: 1px solid #000000;
}

.event > .name {
    margin-top: 30px;
}

.duration {
    display: none;
}

.dates {
    margin-left: 202px;

    width: 100000px;
    height: 30px;
}

.hours {
    margin-left: 202px;

    width: 100000px;
    height: 30px;
    margin-top: 10px;
}

.date {
    float: left;
    
    width: 9598px;
    height: 30px;

    border: 1px solid #000000;
}

.hour {
    float: left;

    width: 398px;
    height: 30px;

    border: 1px solid #000000;
}
