#EPG {
    width: 1800px;
}

#services {
    float: left;
}

#services > .service {
    height: 108px;
}

#events {
    float: right;

    margin-left: 10px;
}

#events > .service {
    position: relative;

    height: 108px;
}

.service > .name {
    float: left;

    width: 200px;
    height: 62px;
    padding-top: 42px;

    text-align: center;
    font-size: 25px;

    background-color: #0C274D;
    color: #ffffff;
    border: solid 2px #ffffff;
}

.event {
    position: absolute;
    overflow: hidden;
    padding-left: 5px;

    width: 250px;
    height: 100px;

    background-color: #18709C;
    color: #ffffff;
    border: solid 4px #ffffff;
}

.event > .name {
    margin-top: 10px;
    height: 20px;
}

#labels {
    width: 1800px;
    height: 30px;

    margin-bottom: 12px;
}

#now_date {
    float: left;

    width: 202px;
    height: 30px;

    text-align: center;
    font-size: 28px;
}

#hours {
    float: right;
}

.label {
    display: inline-block;

    height: 30px;

    padding-left: 5px;
    border-left: 1px solid #000000;

    font-size: 24px;
}

.service.highlight > .event {
    border-color: #19BDC4;
}
.event.highlight {
    background-color: #19BDC4;
}
